@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: #EDEEC0;
    margin-top: 0;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    align-items: flex-end;
    padding-top: 1.5em;
}
Link{
    /* align-items: baseline; */
    color: #b36a5e;
    
}
.navbar__link{
    color: #b36a5e;
    text-decoration: none;
}
.navbar__link:hover{
    color:#C89F9C;
}
.navbar__logo {
    max-height: 6rem;
}
.navbar__title{
    font-family: 'DM Serif Display', serif;
    margin-top: 0;
}
